# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# VM crash logs
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
.mvn/wrapper/maven-wrapper.jar

# IDE
out/
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Arquivos de configuração sensíveis
**/persistence.xml
**/META-INF/persistence.xml
**/*.properties.segredo
**/*.env

# Bancos locais
*.mv.db
*.trace.db
*.h2.db
data/
database/
academiaDB*

*.csv